
<% total_followers = @user.followers.map do |follower|%>
  <% follower.follower %>
<% end %>
<% total_followeds = @user.followeds.map do |follower|%>
  <% follower.followed %>
<% end %>
<div class="following">
  <br>
<h1 class="username_profile"> <%= @user.username %></h1> <h4 class="following_list"><%=link_to " #{total_followers.count} Followers #{total_followeds.count} Following", following_path(@user.id), {:style => 'text-decoration: none; color: white; display: block; padding: 15px; margin: auto; font-family: Ubuntu; font-size: 1.5vw;'}%></h4>
</div>


<!-- <%= form_for @user do |f| %>
  <%= f.file_field :picture %>
<% end %> -->
<div class="follower_following">
<% if @user != current_user %>
  <% if !total_followers.include?(current_user) %>
    <%= form_for Following.new do |f| %>
      <%= f.hidden_field :followed_id, :value => @user.id%> <br>
      <%= f.hidden_field :follower_id, :value => current_user.id %> <br>
      <%= f.submit value="Follow", :class => 'follow'%>
    <%end%>
  <%else%>
  <br>
    <%= button_to "Unfollow", following_path(:id => @followings.select{|m| m.followed_id == @user.id && m.follower_id == current_user.id}), :method => :delete, :class => 'unfollow'  %>
  <%end%>
<%end%>
</div>

<%if @user.pictures.empty? && @user.id == current_user.id%>
  <h1>Share some pics!</h1>
<%else%>
  <%if @user.id == current_user.id%>
    <h2>Here are your pics!</h2>
  <%else%>
    <%if @user.pictures.empty?%>
      <h2><%= @user.username %> has no pics... </h2>
    <%else%>
      <h2>Here are <%= @user.username %>'s pics... </h2>
    <%end%>
  <%end%>
    <div class="picture_grid_user_show">
    <%@pictures.order('created_at DESC').each do |picture| %>
    <h3><%= picture.title %><h3>
        <%= link_to (image_tag (picture.image_url), class: 'user_img', style:"height: auto; width: 80%;"), picture_path(picture) %>
    <% end %>
  </div>
<%end%>

<%if @user.id == current_user.id %>
<ul class="delete_account">
  <li><%= link_to "Delete Account", user_path(@user), :method => 'delete', data: {confirm: 'Are you sure?' }, :style => 'text-decoration: none; color: white; font-family: Ubuntu; font-size: 1.5vw; padding: 15px; margin: auto; text-align: center;' %></li>
</ul>
<%end%>
