
<% total_followers = @user.followers.map do |follower|%>
  <% follower.follower %>
<% end %>
<% total_followeds = @user.followeds.map do |follower|%>
  <% follower.followed %>
<% end %>
<div class="following">
<h1> <%= @user.username %></h1> <h4><%=link_to "Followers: #{total_followers.count} Following: #{total_followeds.count}", following_path(@user.id)%></h4>
</div>


<!-- <%= form_for @user do |f| %>
  <%= f.file_field :picture %>
<% end %> -->
<div class="follower_following">
<% if @user != current_user %>
  <% if !total_followers.include?(current_user) %>
    <%= form_for Following.new do |f| %>
      <%= f.hidden_field :followed_id, :value => @user.id%> <br>
      <%= f.hidden_field :follower_id, :value => current_user.id %> <br>
      <%= f.submit value="Follow", :class => 'follow'%>
    <%end%>
  <%else%>
    <%= button_to "Unfollow", following_path(:id => @followings.select{|m| m.followed_id == @user.id && m.follower_id == current_user.id}), :method => :delete, :class => 'unfollow'  %>
  <%end%>
<%end%>
</div>

<%if @user.pictures.empty? && @user.id == current_user.id%>
  <h1>Share some pics!</h1>
<%else%>
  <%if @user.id == current_user.id%>
    <h2>Here are your pics!</h2>
  <%else%>
    <%if @user.pictures.empty?%>
      <h2><%= @user.username %> has no pics... </h2>
    <%else%>
      <h2>Here are <%= @user.username %>'s pics... </h2>
    <%end%>
  <%end%>
    <%@pictures.order('created_at DESC').each do |picture| %>
      <h3><%= picture.title %><h3>
      <%= link_to (image_tag (picture.image_url), style:"height: auto; width: 300px;"), picture_path(picture) %><img>
    <% end %>
<%end%>

<ul class="delete_account">
<%if @user.id == current_user.id %>
  <li><%= link_to "Delete Account", user_path(@user), :method => 'delete', data: {confirm: 'Are you sure?' }, :style => 'text-decoration: none; color: white; font-family: Arial; font-size: 1.5vw; padding: 15px; margin: auto;' %></li><%end%>
</ul>
