
<div class='banner'>
<%= image_tag ('picshare_2.png'), :class => 'banner_img', style:"height: auto; width: 80%;  margin: 10%; margin-top: 4%; margin-bottom: 3%;"%>
</div>
<div class="sign_in_form">
  <%= form_for @user do |f| %>
  Username: <%= f.text_field :username %> <br>
  Email: <%= f.text_field :email %> <br>
  Password: <%= f.password_field :password %> <br>
  Confirm password: <%= f.password_field :password_confirmation%> <br>
  <br>
  <%= f.submit value="Create Account", class: 'sign_in_button' %>
  <% end %>
</div>
