<body>
<br>
<br>
<h1 class="username_profile"><%= @picture.title %></h1>
<%= image_tag (@picture.image_url), class: 'show_img', style:"height: auto; width: 40%; display: block;"  %>
<%if @picture.user.id == current_user.id%>
<ul>
  <li class="delete_pic"><%= link_to "Delete Pic", picture_path(@picture), {:style => 'text-decoration: none; color: red; display: block; padding: 15px; margin: auto; font-family: Ubuntu; font-size: 1.5vw;', :method => :delete, data: {confirm: 'Are you sure?' }} %></li>
</ul>
<%end%>
<div class="reactions">
  <ul>
  <li><%= @picture.reactions.where("reaction_key = 'happy'").count %>
    <%= form_for @reaction do |f| %>
      <%= f.hidden_field :picture_id %>
      <%= f.hidden_field :user_id %>
      <%= f.hidden_field :reaction_key, :value => @reaction.class.reaction_pictures.keys[0]%>
      <%= f.submit "reaction", :class => 'reaction', :type => :image, :src => @reaction.class.reaction_pictures["happy"] %>
  <% end %>
</li>
<li>
<%= @picture.reactions.where("reaction_key = 'sad'").count %>
<%= form_for @reaction do |f| %>
  <%= f.hidden_field :picture_id %>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :reaction_key, :value => @reaction.class.reaction_pictures.keys[1]%>
  <%= f.submit "reaction", :class => 'reaction', :type => :image, :src => @reaction.class.reaction_pictures["sad"] %>
  <% end %>
</li>
<li>
<%= @picture.reactions.where("reaction_key = 'excited'").count %>
<%= form_for @reaction do |f| %>
  <%= f.hidden_field :picture_id %>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :reaction_key, :value => @reaction.class.reaction_pictures.keys[2]%>
  <%= f.submit "reaction", :class => 'reaction', :type => :image, :src => @reaction.class.reaction_pictures["excited"] %>
  <% end %>
</li>
<li>
<%= @picture.reactions.where("reaction_key = 'angry'").count %>
<%= form_for @reaction do |f| %>
  <%= f.hidden_field :picture_id %>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :reaction_key, :value => @reaction.class.reaction_pictures.keys[3]%>
  <%= f.submit "reaction", :class => 'reaction', :type => :image, :src => @reaction.class.reaction_pictures["angry"] %>
  <% end %>
</li>
<li><%= @picture.reactions.where("reaction_key = 'lmao'").count %>
  <%= form_for @reaction do |f| %>
    <%= f.hidden_field :picture_id %>
    <%= f.hidden_field :user_id %>
    <%= f.hidden_field :reaction_key, :value => @reaction.class.reaction_pictures.keys[4]%>
    <%= f.submit "reaction", :class => 'reaction', :type => :image, :src => @reaction.class.reaction_pictures["lmao"] %>
<% end %>
</li>
<li>
<%= @picture.reactions.where("reaction_key = 'mustardcat'").count %>
<%= form_for @reaction do |f| %>
  <%= f.hidden_field :picture_id %>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :reaction_key, :value => @reaction.class.reaction_pictures.keys[5]%>
  <%= f.submit "reaction", :class => 'reaction', :type => :image, :src => @reaction.class.reaction_pictures["mustardcat"] %>
  <% end %>
</li>

</ul>
</div>
<div class="tags_list">
<ul>
<% @picture.tags.reject {|c| c.name.empty?}.each do |tag|%>
<li><%=link_to "#"+ tag.name, tag_path(tag), :class => "tags"%></li>
<%end%>
</ul>
</div>


<%= form_for @comment do |f| %>
  <%= f.hidden_field :picture_id %> <br>
  <%= f.hidden_field :user_id %> <br>
  <h1> Comments: <h1><%= f.text_area :content %> <br>
  <%= f.submit value="comment", :class => 'comment_button' %>
<% end %><br>
<% @comments.each do |comment| %>
  <%if comment.user %>
  <p class="comments">  <%= link_to( "@"+comment.user.username, user_path(comment.user), {:style => 'text-decoration: none; display: block; padding: 15px; margin: auto; font-family: Ubuntu; font-size: 1.5vw;'}) %>  <%= comment.content %>
    <%if comment.user.id == current_user.id || @picture.user.id == current_user.id%>
      <%= link_to "(delete comment)", comment, :method => 'delete', data: {confirm: 'Are you sure?' } %>
    </p>
    <%end%>
  <%else%>
      (deleted): <%=comment.content%><br>
  <%end%>
<% end %>
</body>
